* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #2b283a;
  max-width: 550px;
  margin: 0 auto;
  background-color: #e5e5e5;
}

/* Header */

.nav {
  background-color: #f55a5a;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  padding: 20px;
  color: #fff;
}

.globe {
  height: 24px;
}

.heading {
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: -0.075em;
}

/* Cards */

.card-elem-cont {
  background-color: #fff;
}

.card-cont {
  margin-left: 40px;
  padding-block: 18px;

  display: flex;
  gap: 19px;
  align-items: center;
}

.card-cont:first-child {
  padding-top: 60px;
}

.image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.card-loc {
  display: flex;
  align-items: center;
}

.marker-icon {
  height: 10px;
  color: #f55a5a;
}

.location {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.17em;

  margin-left: 4px;
}

.maps {
  color: #918e9b;
  font-size: 10px;
  text-decoration: underline;

  margin-left: 12px;
}

.card-heading {
  margin-top: 7px;
  font-weight: 700;
  font-size: 25px;
}

.dates {
  font-weight: 700;
  font-size: 10.5px;

  margin-top: 7px;
}

.desc {
  font-size: 10.5px;
  line-height: 150%;

  width: 326px;

  margin-top: 9px;
}

.breakline {
  width: 478px;
  margin: auto;
  border: 0px solid #f5f5f5;
  height: 1px;
  background: #f5f5f5;
}

footer {
  padding-top: 28px;
  background-color: #fff;
}
