* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 550px;
  margin: 0 auto;
}

/* Header */

.nav {
  background-color: #f55a5a;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  padding: 20px;
  color: #fff;
}

.globe {
  height: 24px;
}

.heading {
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: -0.075em;
}
